* {
    padding: 0px;
    margin: 0px;
}

header, nav, main, footer, section, article {
    display: block;
}

@viewport {
    width: 480px;
    zoom: 1;
    }

    #wrapper {
        width: 100%;
        height: auto;
    }

.clear {
    clear: both;
}


body {
    background: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 4vw;
    color: #fff;
    height: auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

    /***********************/
    /***** MOBILE VIEW *****/
    /***********************/

@media only screen and (max-width: 480px) {

    header{
        position: fixed;
        width: 100%;
        height: 140px;
        background: #006ea9;
    }

    .logoContainer {
        position: relative;
        float: left;
        top: 16px;
        left: 16px;
        width: 100px;
        height: 100px;
    }

    #logo {
        position: absolute;
        width: 61px;
        height: 60px;
        background: url("../images/logo.png") no-repeat;
        left: 20px;
    }

    #navBar {
        position: absolute;
        float: left;
        width: 95%;
        height: 40px;
        bottom: 0px;
        margin-left: 16px;
    }

    #navBar ul {
        width: 100%;
        height: 40px;
    }

    #navBar ul .selected {
        border-bottom: solid 3px #fff;
        opacity: 1;
    }

    #navBar ul li {
        position: relative;
        float: left;
        top: 10px;
        padding-bottom: 3px;
        width: 33%;
        height: auto;
        text-align: center;
        opacity: .7;
    }

    .menuBox {
        position: absolute;
        float: right;
        right: 0px;
        width: 120px;
        height: 60px;
        right: 16px;
        top: 16px;
    }
    
    #hamburger {
        position: relative;
        float: right;
        background: url("../images/Hamburger.png") no-repeat;
        width: 60px;
        height: 60px;

    }

    #searchIcon {
        position: relative;
        float: left;
        background: url("../images/search.png") no-repeat;
        width: 30px;
        height: 30px;
        top: 15px;
    }

    #bottomNav {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 80px;
        background: #006ea9;
    }

    #footerBox {
        position: relative;
        float: left;
        bottom: 0px;
        width: 95%;
        height: 80px;
        bottom: 0px;
        margin-left: 12px;;
    }


    #profileBox {
        position: relative;
        float: left;
        width: auto;
        height: auto;
        top: 8px;
        text-align: center;
        margin-left: 40px;
    }

    #eventsBox {
        position: relative;
        float: left;
        width: auto;
        height: auto;
        top: 8px;
        text-align: center;
        margin-left: 40px;
    }

    #messagesBox {
        position: relative;
        float: left;
        width: auto;
        height: auto;
        top: 8px;
        text-align: center;
        margin-left: 40px;
    }

    #businessCardsBox {
        position: relative;
        float: left;
        width: auto;
        height: auto;
        top: 8px;
        text-align: center;
        margin-left: 40px;
    }

    img {
        height: 40px;
    }

    h5 {
        font-size: 12px;
    }
}