* {
    padding: 0px;
    margin: 0px;
}

header, nav, main, footer, section, article {
    display: block;
}

@viewport {
    width: 480px;
    zoom: 1;
    }

.clear {
    clear: both;
}


body {
    background: #333;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    height: auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

    /***********************/
    /***** MOBILE VIEW *****/
    /***********************/

@media only screen and (max-width: 480px){

    .navbar-brand {
        background: url("../images/logo.png") no-repeat;
        width: 61px;
        height: 60px;
    }

    .navbar-text {
        position: relative;
        left: -50px;
        font-size: 24px;
    }

    #noEventIcon {
        background: url("../images/eventsicon.png") no-repeat;
        width: 178px;
        height: 168px;
        margin-left: auto;
        margin-right: auto;
    }

    #navnav {
        position: relative;
        top: 25px;
    }

    .dropdown-item {
        background: #007bff;
        border: none;
    }

    .active {
        background: #333;
        opacity: .6;
    }

    #userAvatar {
        position: relative;
        float: right;
        top: 0px;
    }

    .card {
        background: #333;
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        top: 80px;
        font-size: 1.5rem;
        text-align: center;
        border: none;
    }

    .sticy-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #007bff
    }

    .iconsBox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #profileIcon {
        margin-left: 15%;
        margin-top: 16px;
    }

    #exampleFormControlSelect1 {
        width: 40%;
        padding-left: 2px;
        margin-left: 5px;
        margin-top: 4px;
        font-size: 2vh;
    }

    .form-group {
        margin-left: 5%;
        margin-top: 5%;
        width: 100%;
    }


/* Recommended Page */

    .eventBox {
        position: relative;
        width: 85%;
        height: 90px;
        top: 16px;
        left: 16px;
        border-bottom: solid 1px #fff;
    }

    .eventImgList {
        position: absolute;
        width: 100%;
        height: auto;
        float: left;
    }

    #recommendedCardList {
        width: 100px;
        height: auto;
    }

    .eventImg {
        float: left;
    }

    .eventTitle {
        float: left;
        margin-left: 6px;
        font-size: 18px;
        font-weight: bold;
    }

    .eventBox p {
        position: absolute;
        left: 208px;
        top: 30px;
        font-size: 16px;
    }

    .eventItem {
        padding-top: 8px;
    }

    .signBtn {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: none;
        background: #007bff url("../images/signupicon.png");
        right: 10px;
        bottom: 10px;

    }

    .pageTitle {
        position: relative;
        top: 16px;
        left: 50px;
        font-size: 18px;
        border-bottom: solid 2px #fff;
        width: 130px;
    }

    